/* I need to change carousel buttons color in testimonials.scss manuallly */

/* $blue: #1b9eb1; //GPP color,  ugly
$blue-darker: #065f6c; */
/* $blue: #1877f2; //facebook color, middle one
$blue-darker: #1155ad; */
$blue: #1873f0; //twitter color, best one
$blue-darker: #1459ba;
