/* I need to change the colour manually only inside: 
- technologies.js 
- carousel buttons colour in testimonials.scss 
Rest is changed by changing 2 below variables */

$blue: #1873f0; //twitter color
$blue-darker: #1459ba;
$font-color: #495057;
