@use "breakpoints" as bp;
@use "colors" as co;

@mixin icons($anchorHeight: inherit, $width: 4.5rem) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: $width;
  @include bp.sm {
    width: $width + 1rem;
  }

  & a {
    height: $anchorHeight;
  }

  & ion-icon {
    color: black;
    &:hover {
      color: co.$blue;
    }
  }
}

@mixin img-circle {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  @include bp.sm {
    height: 30rem;
    width: 30rem;
  }
}
