@use "breakpoints" as bp;
@use "colors" as co;
@use "fonts";
@use "sections/index";

* {
  box-sizing: border-box;
  font-family: "Lato-Regular", sans-serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.my-visually-hidden {
  opacity: 0;
}

body {
  margin: 1rem;
  font-size: 2rem;
  @include bp.sm {
    font-size: 2.5rem;
    margin: 2rem;
  }
}

h1,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: co.$blue-darker;
  font-size: 3.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  @include bp.sm {
    font-size: 4.5rem;
  }
}

li {
  list-style: none;
}
