@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
.nav__li__link {
  text-decoration: none;
  color: black;
}
.nav__li__link:hover {
  cursor: pointer;
}

.nav__li__link:hover {
  color: #1b9eb1;
}

.nav__burger__line::after, .nav__burger__line::before, .nav__burger__line {
  background: black;
  height: 0.2rem;
  transition: all 0.3s ease;
  width: 3rem;
}

.header {
  align-items: center;
  display: flex;
  font-size: 2.2rem;
  min-height: 5rem;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__links {
  display: flex;
}
.nav__icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 5rem;
}
.nav__icons a {
  height: 2.2rem;
}
.nav__icons ion-icon {
  color: black;
}
.nav__icons ion-icon:hover {
  color: #1b9eb1;
}
.nav__burger {
  background: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .nav__burger {
    display: none;
  }
}
.nav__burger.active .nav__burger__line {
  background: transparent;
}
.nav__burger.active .nav__burger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.nav__burger.active .nav__burger__line::after {
  top: 0;
  transform: rotate(-45deg);
}
.nav__burger.active ~ .nav__ul {
  background: white;
  display: block;
  position: absolute;
  text-align: center;
  top: 5rem;
  width: 100%;
  z-index: 1;
}
.nav__burger__line {
  position: relative;
}
.nav__burger__line::before {
  content: "";
  left: 0;
  position: absolute;
  top: 0.8rem;
}
.nav__burger__line::after {
  content: "";
  left: 0;
  position: absolute;
  top: -0.8rem;
}
.nav__ul {
  display: none;
}
@media (min-width: 992px) {
  .nav__ul {
    display: flex;
  }
}
.nav__li {
  padding: 0.5rem;
}
.hero {
  background: no-repeat url("../../images/hero.jpg");
  background-size: cover;
  background-position: 83.5% 0%;
  height: 90rem;
  position: relative;
}
@media (min-width: 576px) {
  .hero {
    background-position: 80% 30%;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-position: 100% 30%;
  }
}
@media (min-width: 1440px) {
  .hero {
    background-position: 100% 15.5%;
  }
}
.hero__container {
  bottom: 11rem;
  color: white;
  max-width: 100%;
  padding-left: 1rem;
  position: absolute;
  right: 2rem;
}
@media (min-width: 576px) {
  .hero__container {
    max-width: 28rem;
    right: 23.5rem;
  }
}
@media (min-width: 768px) {
  .hero__container {
    max-width: 43rem;
    right: 25rem;
  }
}
@media (min-width: 992px) {
  .hero__container {
    right: 38rem;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    max-width: 53rem;
  }
}
@media (min-width: 1440px) {
  .hero__container {
    max-width: 100%;
    right: 49rem;
  }
}
@media (min-width: 1920px) {
  .hero__container {
    right: 59rem;
  }
}
.hero__container h1 {
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .hero__container h1 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
}
@media (min-width: 768px) {
  .hero__container h1 {
    font-size: 5rem;
    letter-spacing: 0.7rem;
  }
}
@media (min-width: 992px) {
  .hero__container h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1440px) {
  .hero__container h1 {
    font-size: 8rem;
  }
}
.hero__container p {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
@media (min-width: 992px) {
  .hero__container p {
    font-size: 3.2rem;
  }
}
@media (min-width: 1440px) {
  .hero__container p {
    font-size: 4.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato-Regular", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 2rem;
  font-size: 1.6rem;
}

li {
  list-style: none;
}/*# sourceMappingURL=main.css.map */