@use "breakpoints" as bp;
@use "fonts";
@use "sections/header";

/* Below only for testing */
/* header {
  color: blue;
  font-family: "Lato-Regular", sans-serif;

  @include bp.lg {
    color: red;
  }
} */ /* above only for testing */
/* Below only for testing */
/* ion-icon {
  color: blue;
  font-size: 20px;
  &:hover {
    color: red;
  }
} */
/* above only for testing */
