@use "../breakpoints" as bp;
@use "../colors" as co;

$bg-color: #fff;
$gap-width: 1.5rem;

@mixin shared {
  margin-bottom: $gap-width;
  @include bp.lg {
    width: calc((100% - $gap-width) / 2);
  }
}

%icon {
  font-size: 4rem;
  margin: 0 1rem 1rem 0;
  flex-shrink: 0;

  @include bp.sm {
    margin: 0 1rem 0 0;
  }
}

.alert {
  color: co.$failure;
}

.element {
  @include shared;
}

.failure_icon {
  @extend %icon;
  color: co.$failure;
}

::file-selector-button {
  background-color: $bg-color;
  border: none;
  color: inherit;
}

.flex_container {
  @include shared;
  align-items: center;
  display: flex;
  justify-content: flex-start;

  & p {
    line-height: 130%;
  }
}

.form {
  background-color: co.$form-background;
  border: 2px solid #eee;
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding: 3rem;

  @include bp.lg {
    display: flex;
    flex-wrap: wrap;
    column-gap: $gap-width;
  }
}

.input {
  border: 2px solid $bg-color;
  width: 100%;
  background-color: $bg-color;
  padding: 1rem;
  font-size: 1.6rem;
  @include bp.sm {
    font-size: 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid co.$primary;
    outline: none;
  }
}

.message_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include bp.sm {
    flex-direction: row;
  }

  & span {
    font-weight: bold;
    text-align: center;
  }
}

.spinner {
  height: 10rem;
  width: 10rem;
}

.submit {
  @include shared;

  & button {
    background-color: co.$primary;
    border: 2px solid co.$form-background;
    color: #fff;
  }
}

.success_icon {
  @extend %icon;
  color: co.$primary;
}

.textarea {
  @include shared;
  @include bp.lg {
    width: 100%;
  }

  & textarea {
    height: 12rem;
  }
}
