@use "../breakpoints" as bp;
@use "../colors" as co;

.icon {
  color: co.$primary;
  font-size: 4rem;
}

.section_title {
  margin-bottom: 1rem;
}

.static_list {
  & li {
    margin-bottom: 0.6rem;
  }
}

.static_technologies {
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: minmax(12.5rem, max-content) minmax(12.5rem, max-content);
  justify-content: center;
  margin-bottom: 3rem;

  @include bp.sm {
    gap: 3rem 3rem;
    grid-template-columns: 22rem 22rem;
  }

  @include bp.md {
    grid-template-columns: 22rem 22rem 22rem;
  }
}
