@use "../breakpoints" as bp;
@use "../variables" as va;

.contact {
  padding-top: va.$section-padding-top;
}

.container {
  max-width: va.$max-text-width;
  margin: va.$sectionIntroduction-rest-gap auto 0 auto;
}
