@use "../breakpoints" as bp;
@use "../variables" as va;

.hero {
  background: no-repeat url("../../images/hero.jpg");
  background-size: cover;
  background-position: 83.5% 0%;
  height: 90rem;
  padding-top: va.$section-padding-top;
  position: relative;
  @include bp.sm {
    background-position: 80% 30%;
  }
  @include bp.xlg {
    background-position: 100% 30%;
  }
  @include bp.xxlg {
    background-position: 100% 15.5%;
  }

  &__container {
    bottom: 11rem;
    color: white;
    max-width: 100%;
    padding-left: 1rem;
    position: absolute;
    right: 2rem;
    @include bp.sm {
      max-width: 30rem;
      right: 27.5rem;
    }
    @include bp.md {
      max-width: 43rem;
      right: 27rem;
    }
    @include bp.lg {
      right: 40rem;
    }
    @include bp.xlg {
      max-width: 55rem;
    }
    @include bp.xxlg {
      max-width: 100%;
      right: 49rem;
    }
    @include bp.xxxlg {
      right: 59rem;
    }

    & h1 {
      color: #fff;
      font-size: 3.2rem;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem;
      @include bp.sm {
        font-size: 4rem;
        letter-spacing: 0.4rem;
      }
      @include bp.md {
        font-size: 5rem;
        letter-spacing: 0.7rem;
      }
      @include bp.lg {
        font-size: 6rem;
      }
      @include bp.xxlg {
        font-size: 8rem;
      }
    }

    & p {
      color: white;
      font-size: 2.4rem;
      letter-spacing: 0.2rem;
      @include bp.lg {
        font-size: 3.2rem;
      }
      @include bp.xxlg {
        font-size: 4.2rem;
      }
    }

    &__typed {
      color: white;
    }
  }
}
