//To change color in whole app change color:
// in this file
// Skills.tsx file, textColour property,
$primary: #1873f0; //twitter color
$primary-darker: #1459ba;
$primary-font: #495057;
$primary-light: #a3c1ec;
