@use "../styles/breakpoints" as bp;
@use "../styles/colors" as co;
@use "../styles/variables" as va;

@mixin button {
  background-color: co.$primary;
  border-radius: 10%;
  border: 2px solid white;
  color: white;
  padding: 1rem;
  margin: 0 1rem 1rem 0;

  &:hover {
    background-color: co.$primary-darker;
    border: 2px solid co.$primary-darker;
    color: #fff;
    cursor: pointer;
  }
}

@mixin container($padding-top-bottom: 0, $max-width: 144rem) {
  padding: $padding-top-bottom va.$container-padding-small-screen;

  @include bp.xlg {
    padding: $padding-top-bottom max(va.$container-padding-big-screen, calc(100% - $max-width) / 2);
  }
}

@mixin section-introduction-paragraph($margin-bottom: va.$sectionIntroduction-rest-gap) {
  font-size: 2.4rem;
  margin-bottom: $margin-bottom;
  max-width: va.$max-text-width;

  @include bp.sm {
    font-size: 3rem;
  }
}
