$container-padding-big-screen: 10rem;
$container-padding-small-screen: 2rem;
$font-size-sm-normal-text: 2.3rem;
$font-size-smallest-normal-text: 2rem;
$max-text-width: 95rem;
$section-padding-top: 10rem;
$sectionIntroduction-rest-gap: 2rem;
