@use "../styles/colors" as co;
@use "../styles/breakpoints" as bp;
@use "../styles/variables" as va;

* {
  box-sizing: border-box;
  color: co.$primary-font;
  font-family: "Lato-Regular", sans-serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: co.$primary;
  &:hover {
    color: co.$primary-darker;
    cursor: pointer;
  }
}

body {
  font-size: va.$font-size-smallest-normal-text;

  @include bp.sm {
    font-size: va.$font-size-sm-normal-text;
  }
}

.hidden {
  display: none;
}

h2 {
  color: co.$primary-darker;
  font-size: 3.4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0.5rem;
  @include bp.sm {
    font-size: 4.5rem;
  }
}

li {
  list-style: none;
}

.typed-cursor {
  color: #fff;
}
