@use "variables" as va;
@use "../mixins" as mi;

.about {
  display: grid;
  grid-template-areas:
    "title title title"
    "description photo technologies";
  grid-template-columns: 140rem 1fr 1fr;
  margin-bottom: va.$section-margin-bottom;

  &h2 {
    grid-area: title;
  }

  &__description {
    grid-area: description;
    & p {
      line-height: 140%;
      margin-bottom: 1rem;
    }
  }

  &__photo {
    grid-area: photo;
    & img {
      @include mi.img-circle;
    }
  }

  &__technologies {
    grid-area: technologies;
  }
}
