@use "../breakpoints" as bp;
@use "variables" as va;
@use "../mixins" as mi;

$canvas-width-md: 72rem;
$canvas-width-lg: 85rem;

.about {
  display: flex; //
  flex-direction: column; //
  margin-bottom: va.$section-margin-bottom;
  @include bp.xlg {
    display: grid;
    gap: 0rem 3rem;
    grid-template-areas:
      "title title "
      "description technologies ";
    grid-template-columns: 50% 1fr;
  }
  @include bp.xxxlg {
    grid-template-columns: 40% 1fr;
  }

  & canvas {
    width: 100%;
    @include bp.md {
      width: $canvas-width-md;
    }
    @include bp.lg {
      width: $canvas-width-lg;
    }
    @include bp.xlg {
      width: 100%;
      margin: 4rem 0 8rem 0;
    }
    @include bp.xxlg {
      margin: -8rem 0 0 0;
    }
    @include bp.xxxlg {
      margin-top: -12rem;
    }
  }

  & h2 {
    grid-area: title;
  }

  &__description {
    grid-area: description;

    & p {
      line-height: 135%;
      margin-bottom: 2rem;
      max-width: 95rem;
    }
  }

  &__technologies {
    grid-area: technologies;

    &__canvas-container {
      @include bp.md {
        margin: 0 auto;
        width: $canvas-width-md;
      }
      @include bp.lg {
        width: $canvas-width-lg;
      }
      @include bp.xlg {
        display: flex;
        height: 100%;
      }
    }
  }
}
