@use "../breakpoints" as bp;
@use "../mixins" as mi;

.footer {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.5rem;
  justify-content: space-between;
  @include bp.sm {
    font-size: 2rem;
  }

  &__description {
    text-align: center;
  }

  &__icons {
    @include mi.icons($anchorHeight: 2rem, $width: 3.7rem);
  }
}
