@use "../breakpoints" as bp;
@use "../colors" as co;
@use "variables" as va;

$link-height: 4rem;
$item-width-big: 26rem;
$item-width-small: 20rem;

@mixin link {
  align-items: center;
  background-color: co.$blue;
  border: none;
  bottom: 0;
  color: white;
  display: flex;
  height: $link-height;
  font-size: 1.8rem;
  font-style: normal;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  width: 50%;
  @include bp.xxlg {
    font-size: 2.5rem;
  }
  &:hover {
    background-color: co.$blue-darker;
    cursor: pointer;
    text-decoration: underline;
  }
}

.projects {
  display: block;
  @include bp.lg {
    display: grid;
    grid-template-areas:
      "title title"
      "description menu"
      "projects projects";
    grid-template-columns: 50rem 1fr;
  }
  @include bp.xlg {
    grid-template-columns: 60rem 1fr;
  }
  @include bp.xxlg {
    grid-template-columns: 90rem 1fr;
  }
  @include bp.xxxlg {
    grid-template-columns: 95rem 1fr;
  }

  &__container {
    display: flex;
    gap: 3rem;
    grid-area: projects;
    margin: 1rem 0 va.$section-margin-bottom 0;
    overflow-x: auto;
    padding-bottom: 2rem;
    @include bp.md {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($item-width-small, 1fr));
    }
    @include bp.xxlg {
      grid-template-columns: repeat(auto-fill, minmax($item-width-big, 1fr));
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(co.$blue, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(co.$blue, 0.5);
    }

    &__item {
      align-items: center;
      border: 0.2rem solid co.$blue;
      box-shadow: va.$box-shadow;
      display: flex;
      font-style: italic;
      height: 23rem;
      justify-content: center;
      padding: 0 1rem $link-height 1rem;
      position: relative;
      transition: all 1s linear;

      &__link-description {
        @include link;
        right: 0;
      }

      &__link-description--wide {
        @include link;
        width: 100%;
      }

      &__link-live {
        @include link;
        left: 0;
      }

      &__title {
        color: co.$blue;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        text-align: center;
        width: $item-width-small;
        @include bp.md {
          width: 100%;
        }
        @include bp.xxlg {
          font-size: 3.5rem;
          letter-spacing: 0.5rem;
        }
      }
    }
  }

  &__description {
    grid-area: description;
    line-height: 130%;
    margin-bottom: 2rem;
    @include bp.lg {
      padding-right: 3rem;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    grid-area: menu;

    &__button {
      background-color: co.$blue;
      border-radius: 10%;
      border: 2px solid white;
      color: white;
      padding: 1rem;
      margin: 0 1rem 1rem 0;
      box-shadow: va.$box-shadow;
      &:hover {
        background-color: co.$blue-darker;
        text-decoration: underline;
      }
      @include bp.sm {
        margin: 0 2rem 1rem 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__title {
    grid-area: title;
  }
}

.chosen-filter {
  background-color: co.$blue-darker;
  text-decoration: underline;
}
