@use "../breakpoints" as bp;
@use "../colors" as c;

$link-height: 4rem;

@mixin link {
  align-items: center;
  background-color: c.$blue;
  border: none;
  bottom: 0;
  color: white;
  display: flex;
  height: $link-height;
  font-size: 2.5rem;
  font-style: normal;
  justify-content: center;
  position: absolute;
  width: 50%;

  &:hover {
    background-color: c.$blue-darker;
    cursor: pointer;
    text-decoration: underline;
  }
}

.projects__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  margin-bottom: 5rem;

  &__item {
    align-items: center;
    border: 2px solid c.$blue;
    display: flex;
    font-style: italic;
    height: 23rem;
    justify-content: center;
    padding-bottom: $link-height;
    position: relative;

    &__link-description {
      @include link;
      right: 0;
    }

    &__link-description--wide {
      @include link;
      width: 100%;
    }

    &__link-live {
      @include link;
      left: 0;
    }

    &__title {
      color: c.$blue;
      font-size: 3.5rem;
      letter-spacing: 0.5rem;
      text-align: center;
    }
  }
}
